@model HTracking.Models.SiteForm
@{
    ViewData["Title"] = "New Site Form";
}
<h1>@ViewBag.Title</h1>

<div id="the-form">
    <form method="post">
        <label asp-for="Name">Site Information Form</label>
        <input hidden="true" asp-for="Name" value="Site Information Form"/>
        <br/>
        <label asp-for="SiteName">Site Name</label>
        <br/>
        <input asp-for="SiteName"/>
        <br/>
        <input type="submit" value="Submit"/>
    </form>
</div>